.cards {
  display: flex;
  justify-content: center;
}

.cards__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 17px;
  max-width: 880px;
  padding: 0;
  margin-top: 47px;
  margin-bottom: 0;
}

.cards__content {
  position: relative;
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
}

.cards__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.cards__delete {
  background: transparent center url(../images/trash-icon.svg) no-repeat;
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.cards__info {
  color: #000000;
  display: flex;
}

.cards__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  margin: 25px 0 25px 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.cards__like {
  margin-right: 20px;
  background-image: url(../images/like-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 21px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.cards__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cards__like-active {
  background-image: url(../images/like-button-active.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 880px) {
  .cards__list {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 6;
    max-width: calc(100% - 38px);
    margin: auto;
  }

  .cards__list {
    grid-template-columns: 1fr;
    max-width: 282px;
  }
}
