.profile {
  display: flex;
  max-width: 880px;
  margin: 36.25px auto 46.25px;
  justify-content: space-between;
}

.profile__avatar .profile__image,
.profile__avatar .profile__avatar-button {
  transition: visibility 0.15s, opacity 0.2s ease-in-out;
}

.profile__avatar:hover .profile__avatar-button {
  cursor: pointer;
  visibility: visible;
}

.profile__avatar:hover .profile__image {
  cursor: pointer;
  opacity: 0.2;
}

.profile__avatar-button {
  background: transparent url(../images/edit-avatar-icon.svg) no-repeat center;
  position: absolute;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 50%;
  visibility: hidden;
  z-index: 1;
}

.profile__image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-right: 0px;
  object-fit: cover;
}

.profile__info {
  display: flex;
  margin-left: 30px;
  margin-right: auto;
}

.profile__info-details {
  display: flex;
  flex-direction: column;
}

.profile__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 16px 0 16px;
  max-width: 375px;
}

.profile__subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.profile__edit {
  background-image: url(../images/edit-button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #fff;
  margin-top: 30px;
  margin-left: 18px;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add {
  background-image: url(../images/add-button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  padding: 0;
  margin: 30px 0 0 165px;
  border-radius: 2px;
}

.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    margin-right: 0;
  }

  .profile__info-details {
    align-items: center;
  }

  .profile__title {
    text-align: center;
    max-width: 230px;
  }

  .profile__subtitle {
    text-align: left;
    max-width: 230px;
  }

  .profile__edit {
    margin: 32px 0 0 18px;
  }

  .profile__add {
    width: 282px;
    margin: 36px 0 0;
  }
}

@media screen and (max-width: 595px) {
  .profile {
    margin: 38.25px auto 36px;
  }

  .profile__avatar {
    margin-right: 0;
  }

  .profile__info {
    align-items: center;
  }

  .profile__info-details {
    margin-top: 26.25px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 200px;
    margin: 0;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    max-width: 200px;
  }

  .profile__add {
    background-size: 16px;
  }

  .profile__edit {
    margin-top: 14px;
  }
}
